<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14297749896-3hhm7iost6v9fagfg2aj1fomjapd77qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14297749896-3hhm7iost6v9fagfg2aj1fomjapd77qi</string>
	<key>API_KEY</key>
	<string>AIzaSyBaKDcgG8XHNMYghs_sZfn1Y4d75KeTER8</string>
	<key>GCM_SENDER_ID</key>
	<string>14297749896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kominato.swift-snslogin-xmlparse</string>
	<key>PROJECT_ID</key>
	<string>swift-snslogin</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-snslogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14297749896:ios:83b68f60beb2ba26a6823d</string>
</dict>
</plist>